<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    {% include "head.njk" %}
    {% endblock %}
  </head>

  <body style="--maxw-md: 80rem; --m: auto; --size: 1.2rem">
    {% block themetoggle %}
    {% set useCustomElement = false %}
    {% set themeToggleStyle = "--shadow: 10; --bgc: var(--background-alt); --c: var(--text); --op:50%; --pos: fixed; --top: 0; --right: 0; --p:0.2em; --bblr: 1em; --z: 1000;" %}
    {% include "theme-toggle.njk" %}
    {% endblock %}

    {% block body %}
    <input type="checkbox" id="menu-control" class="hidden" />
    {% block header %}{% endblock %}
    <main style="--d: flex; --maxw: min(80rem, 100vw); --m: 0 auto">
      <aside aria-label="Table of Contents"
        class="book-menu"
        style="
          --fx: 0 0 16rem;
          --ta: right;
          --pos: sticky;
          --top: 0;
          --as: flex-start;
          --minh: 100vh;
          --d: flex;
          --fd: column;
        "
      >
        {% block aside %}
        <a href="/">
          <img src="/logo.png" alt="Startr/Style" 
          style="--m: 20px 15px 0 auto; --maxw: 100px" />
        </a>

        {% set navStyle = "--br: 1px solid #ddd;" %}
        {% include "navigation.njk" %}

        <a
          href="https://x.com/alexandersomma"
          style="
            --ta: left;
            --mt: auto;
            --d: inline-flex;
            --ai: center;
            --p: 5px 10px;
            --m: 1rem 2rem;
            --radius: 20px;
            --bg: #fafafa;
            --as: flex-end;
          "
        >
          <div style="--ml: auto; --mr: 0.5rem">
            <div style="--c: #777">@alexandersomma</div>
          </div>
          <div>
            <svg
              style="--c: var(--primary)"
              aria-hidden="true"
              focusable="false"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
              ></path>
            </svg>
          </div>
        </a>
        {% endblock %}
      </aside>

      <div class="book-page" style="--px: 2rem; --maxw: min(80rem, 100vw);">
        {% block page %}
        <header class="book-header">
          <div class="flex align-center justify-between">
            <label for="menu-control">
              <img src="/svg/menu.svg" class="book-icon" alt="Menu" />
            </label>
          </div>
        </header>

        <article>{% block article %} {% endblock %}</article>

        <label for="menu-control" class="hidden book-menu-overlay"></label>
        {% endblock %}
      </div>
    </main>

    <script defer src="https://buttons.github.io/buttons.js"></script>
    {% endblock %}
    <footer class="book-footer" style="--d: flex; --maxw: min(80rem, 100vw); --m: 0 auto">
      <aside style="--fx: 0 0 16rem; --ta: center; --d:none; --d-md:block">
        <div>♥️</div>
      </aside>
      {% include "footer.njk" %}
    </footer>
    {% block scripts %}
    {% include "theme-scripts.njk" %}
    {% endblock %}
  </body>
</html>
