<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="preload" href="/style.css" as="style" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="CSS Utilities Utilities allow you to quickly apply single CSS properties to an element directly within your HTML markup without having to write any code in a separate CSS file. Contrary to other CSS frameworks which use the class attribute, Startr Style is unique in that it applies utilities through CSS variables and the style attribute. This has a number of distinct improvements over class based utilities.
      Use of all values - With class based utlities you can only assign a set number of values pre defined by the framework."
    />
    <meta property="og:title" content="Startr Style " />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://startr.style/" />

    <title>Utilities | Startr Style</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="/style.css" />

    <script>
      function liveprop(svar, shorthand, unit, target) {
        let input = document.getElementById(`${svar}`);
        let label = document.getElementById(`${svar}-label`);
        let demotarget = document.getElementById(`${target}`);
        input.addEventListener("input", ({ target }) => {
          let propValue = target.value + unit;
          label.textContent = shorthand + ":" + propValue + ";";
          demotarget.style.setProperty(shorthand, propValue);
        });
        input.addEventListener("mousedown", () => {
          label.classList.add("changing");
        });
        input.addEventListener("mouseup", () => {
          label.classList.remove("changing");
        });
      }
    </script>

    <meta property="og:site_name" content="Startr Style" />
    <meta property="og:url" content="https://startr.style/" />
    <meta property="og:title" content="Startr Style" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="A complete Utility First CSS Framework for less than 50k (8kb gzipped)" />

    <meta name="twitter:site" content="@alexandersomma" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Startr Style" />
    <meta
      name="twitter:description"
      content="A complete Utility First CSS Framework for less than 45kb (8kb gzipped)"
    />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    {% endblock %}
  </head>

  <body style="--maxw-md: 80rem; --m: auto; --size: 1.2rem">
    {% block themetoggle %}
    <div class="theme-toggle" onclick="toggleTheme()" style="--shadow: 10; --bgc: var(--background-alt); --op:50%">
      <svg id="theme-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M12 2a10 10 0 0110 10 10 10 0 01-10 10A10 10 0 112 12 10 10 0 0112 2zm0-2a12 12 0 1012 12A12 12 0 0012 0z"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z"
        ></path>
        <path
          d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z"
        ></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z"
        ></path>
      </svg>
    </div>
    {% endblock %} {% block body %}
    <input type="checkbox" id="menu-control" class="hidden" />
    {% block header %}{% endblock %}
    <main style="--d: flex; --maxw: 80rem; --m: 0 auto">
      <aside
        aria-label="Table of Contents"
        class="book-menu"
        style="
          --fx: 0 0 16rem;
          --ta: right;
          --pos: sticky;
          --top: 0;
          --as: flex-start;
          --minh: 100vh;
          --d: flex;
          --fd: column;
        "
      >
        {% block aside %}
        <a href="/">
          <img src="/logo.png" alt="Startr/Style" style="--m: 20px 15px 0 auto; --maxw: 100px" />
        </a>

        <nav style="--pr: 2rem; --br: 1px solid #ddd">
          <div style="--weight: bold; --pt: 1rem">Getting Started</div>
          <a href="/" style="--mb: 0.2rem; --d: block"> Introduction </a>

          <ul style="--list: none; --p: 0; --m: 0">
            <li style="--mb: 0.2rem">
              <a href="/docs/getting-started/installation/" class="">Installation</a>
            </li>

            <li style="--mb: 0.2rem">
              <a href="/docs/getting-started/browser-support/" class="">Browser Support</a>
            </li>

            <li class="book-section-flat">
              <div style="--weight: bold">Helpers</div>

              <ul style="--list: none; --p: 0; --m: 0">
                <li style="--mb: 0.2rem">
                  <a href="/docs/helpers/background/" class="">Background</a>
                </li>

                <li style="--mb: 0.2rem">
                  <a href="/docs/helpers/form-sizing/" class="">Form Sizing</a>
                </li>

                <li style="--mb: 0.2rem">
                  <a href="/docs/helpers/position/" class="">Position</a>
                </li>

                <li style="--mb: 0.2rem">
                  <a href="/docs/helpers/shadows/" class="">Shadows</a>
                </li>

                <li style="--mb: 0.2rem">
                  <a href="/docs/helpers/spacing/" class="">Spacing</a>
                </li>

                <li style="--mb: 0.2rem">
                  <a href="/docs/helpers/transform/" class="">Transform</a>
                </li>

                <li style="--mb: 0.2rem">
                  <a href="/docs/helpers/typography/" class="">Typography</a>
                </li>
              </ul>
            </li>

            <li class="book-section-flat">
              <div style="--weight: bold">Beautiful Base</div>

              <ul style="--list: none; --p: 0; --m: 0">
                <li style="--mb: 0.2rem">
                  <a href="/docs/base-elements/simple-stuff/" class="">Simple Stuff</a>
                </li>

                <li style="--mb: 0.2rem">
                  <a href="/docs/base-elements/typography/" class="">Typography</a>
                </li>

                <li style="--mb: 0.2rem">
                  <a href="/docs/base-elements/buttons/" class="">Buttons</a>
                </li>

                <li style="--mb: 0.2rem">
                  <a href="/docs/base-elements/fields/" class="">Fields</a>
                </li>

                <li style="--mb: 0.2rem">
                  <a href="/docs/base-elements/variables/" class="">Variables</a>
                </li>
              </ul>
            </li>

            <li class="book-section-flat">
              <a href="/docs/utilities/" class="">Utilities</a>

              <ul style="--list: none; --p: 0; --m: 0"></ul>
            </li>
          </ul>
        </nav>

        <a
          href="https://x.com/alexandersomma"
          style="
            --ta: left;
            --mt: auto;
            --d: inline-flex;
            --ai: center;
            --p: 5px 10px;
            --m: 1rem 2rem;
            --radius: 20px;
            --bg: #fafafa;
            --as: flex-end;
          "
        >
          <div style="--ml: auto; --mr: 0.5rem">
            <div style="--c: #777">@alexandersomma</div>
          </div>
          <div>
            <svg
              style="--c: var(--primary)"
              aria-hidden="true"
              focusable="false"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                fill="currentColor"
                d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
              ></path>
            </svg>
          </div>
        </a>
        {% endblock %}
      </aside>

      <div class="book-page" style="--px: 2rem">
        {% block page %}
        <header class="book-header">
          <div class="flex align-center justify-between">
            <label for="menu-control">
              <img src="/svg/menu.svg" class="book-icon" alt="Menu" />
            </label>
          </div>
        </header>

        <article class="markdown">{% block article %} {% endblock %}</article>

        <label for="menu-control" class="hidden book-menu-overlay"></label>
        {% endblock %}
      </div>
    </main>

    <script defer src="https://buttons.github.io/buttons.js"></script>
    {% endblock %}
    <footer class="book-footer" style="--d: flex; --maxw: 80rem; --m: 0 auto">
      <aside style="--fx: 0 0 16rem; --ta: center; --d: none; --d-md: block">
        <div>♥️</div>
      </aside>
      {% block footer %}
      <div style="--d: flex; --jc: center; --fd: column; --fg: 1">
        <div style="--ta: center; --mb: 1rem">
          <a
            class="github-button"
            href="https://github.com/Startr/Style"
            data-icon="octicon-star"
            data-size="large"
            data-show-count="true"
            aria-label="Star Startr/Style on GitHub"
            >Star</a
          >
          <a
            class="github-button"
            href="https://github.com/Startr/Style/fork"
            data-icon="octicon-repo-forked"
            data-size="large"
            data-show-count="true"
            aria-label="Fork Startr/Style on GitHub"
            >Fork</a
          >
          <a
            class="github-button"
            href="https://github.com/Startr/Style/archive/master.zip"
            data-icon="octicon-cloud-download"
            data-size="large"
            aria-label="Download Startr/Style on GitHub"
            >Download</a
          >
        </div>

        <div style="--m: auto; --ta: center; --op: 0.7">
          <p style="--mb: 0">
            Carefully crafted by the
            <a href="https://startr.ca">Startr Team</a> with the help of
            <a href="https://github.com/Startr/Style/graphs/contributors">our contributors</a>.
          </p>
          <p style="--mb: 2rem; --c: var(--text-bright)">
            Startr Style licensed
            <a href="hhttps://github.com/Startr/Style/blob/master/LICENSE.md" target="_blank" rel="license noopener"
              >MIT</a
            >, docs
            <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.
          </p>
        </div>
      </div>
      {% endblock %}
    </footer>
    {% block scripts %}
    <script>
      function setTheme(theme) {
        document.documentElement.setAttribute("data-theme", theme);
        localStorage.setItem("theme", theme);
        const expiryTime = new Date().getTime() + 24 * 60 * 60 * 1000; // 24 hours from now
        localStorage.setItem("themeExpiry", expiryTime);
        updateThemeIcon(theme);
      }

      function applyTheme() {
        const storedTheme = localStorage.getItem("theme");
        const themeExpiry = localStorage.getItem("themeExpiry");
        const currentTime = new Date().getTime();

        if (themeExpiry && currentTime > themeExpiry) {
          localStorage.removeItem("theme");
          localStorage.removeItem("themeExpiry");
        }

        if (storedTheme) {
          setTheme(storedTheme);
        } else if (window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches) {
          setTheme("dark");
        } else {
          setTheme("light");
        }
      }

      function toggleTheme() {
        const currentTheme = document.documentElement.getAttribute("data-theme");
        if (currentTheme === "dark") {
          setTheme("light");
        } else {
          setTheme("dark");
        }
      }

      function updateThemeIcon(theme) {
        const icon = document.getElementById("theme-icon");
        if (theme === "dark") {
          icon.innerHTML =
            '<path  clip-rule="evenodd" d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z" class="fill-moon" ></path><path class="fill-moon" d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z" ></path><path  class="fill-moon" d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z"></path>'; // Moon icon
        } else {
          icon.innerHTML =
            '<path d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" class="fill-sun stroke-sun"></path><path class="stroke-sun" d="M12 4v1M17.66 6.344l-.828.828M20.005 12.004h-1M17.66 17.664l-.828-.828M12 20.01V19M6.34 17.664l.835-.836M3.995 12.004h1.01M6 6l.835.836"></path>'; // Sun icon
        }
      }

      applyTheme();
    </script>
    {% endblock %}
  </body>
</html>
