<!DOCTYPE html>
<html lang="en">

  <head>
    {% block head %}
    {% set enableMatomo = true %}
    {% include "head.njk" %}
    {% endblock %}
  </head>

  <body style="--maxw-md: 80rem; --m: auto; --size: 1.2rem">
    {% block themetoggle %}
    {% set useCustomElement = true %}
    {% include "theme-toggle.njk" %}
    {% endblock %} {% block body %} <input type="checkbox" id="menu-control" style="--d:none" />
    {% block header %}{% endblock %}
    <main style="--d: flex; --maxw: min(80rem, 100vw); --m: 0 auto;">
      <aside aria-label="Table of Contents" class="book-menu" style="
          --fx: 0 0 16rem;
          --ta: right;
          --pos: sticky;
          --top: 0;
          --as: flex-start;
          --minh: 100vh;
          --d: flex;
          --fd: column;
          --w: 14rem;
          --ml: -14rem;
          --ml-md: -8rem;
          --ml-hvr-md: -8rem;
          --ml-hvr: -4rem;
          
          --ml-hvr-lg: -14rem;
        ">
        {% block aside %}

        <a href="/">
          <img src="/logo.png" alt="Startr/Style"
          style="--m: 20px -15px 1.6em auto; --maxw: 100px;" />
        </a>

        {% set navStyle = "--c: black;
                  --bg: #b9e1fd;
                  --pb: 2em;
                  --br: 4px;
                  --shadow: 4" %}
        {% include "navigation.njk" %}

        <a href="https://x.com/alexandersomma" style="
            --ta: left;
            --d: inline-flex;
            --ai: center;
            --p: 5px 10px;
            --mt: 3em;
            --mr: -0.5em;
            --radius: 20px;
            --bg: #fafafa;
            --as: flex-end;
          ">
          <div style="--ml: auto; --mr: 0.5rem">
            <div style="--c: #777">@alexandersomma</div>
          </div>
          <div>
            <svg style="--c: var(--primary)" aria-hidden="true" focusable="false" role="img"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z">
              </path>
            </svg>
          </div>
        </a>
        {% endblock %}
      </aside>

      <div class="book-page" style="--px: 2rem; --maxw: min(80rem, 100vw);">
        {% block page %}
        <article  style="--maxw: calc(100vw - 3em);">{% block article %} {% endblock %}</article>

        <label for="menu-control" class="hidden book-menu-overlay"></label>
        {% endblock %}
      </div>
    </main>

    <script defer src="https://buttons.github.io/buttons.js"></script>
    {% endblock %}
    <footer class="book-footer" style="--d: flex; --maxw: 80rem; --m: 0 auto">
      <aside style="--fx: 0 0 22rem; --ta: center; --d: none; --d-md: block">
        <div>♥️</div>
      </aside>

    </footer>
    {% block scripts %}
    {% include "theme-scripts.njk" %}
    {% endblock %}
    
    {% include "footer.njk" %}
  </body>

</html>