<!-- Navigation Component -->
<nav style="--pr: 2rem; {{ navStyle }}">
    <div style="--weight: bold; --pt: 1rem; ">Getting Started</div>
    <a href="/#learn" style="--mb: 0.2rem; --d: block"> Introduction </a>

    <ul style="--list: none; --p: 0; --m: 0">
        <li style="--mb: 0.2rem">
            <a href="/docs/getting-started/installation/" class="">Installation</a>
        </li>

        <li style="--mb: 0.2rem">
            <a href="/docs/getting-started/browser-support/" class="">Browser Support</a>
        </li>

        <li style="--mb: 0.2rem">
            <a href="/docs/getting-started/design-principles/" class="">Design Principles</a>
        </li>

        <li class="book-section-flat">
            <div style="--weight: bold">Learning</div>

            <ul style="--list: none; --p: 0; --m: 0">
                <li style="--mb: 0.2rem">
                    <a href="/docs/tutorials/" class="">Tutorials</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/use-cases/" class="">Use Cases</a>
                </li>
            </ul>
        </li>


        <li class="book-section-flat">
            <div style="--weight: bold">Helpers</div>

            <ul style="--list: none; --p: 0; --m: 0">
                <li style="--mb: 0.2rem">
                    <a href="/docs/helpers/background/" class="">Background</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/helpers/form-sizing/" class="">Form Sizing</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/helpers/position/" class="">Position</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/helpers/shadows/" class="">Shadows</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/helpers/spacing/" class="">Spacing</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/helpers/transform/" class="">Transform</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/helpers/typography/" class="">Typography</a>
                </li>
            </ul>
        </li>

        <li class="book-section-flat">
            <div style="--weight: bold">Beautiful Base</div>

            <ul style="--list: none; --p: 0; --m: 0">
                <li style="--mb: 0.2rem">
                    <a href="/docs/base-elements/simple-stuff/" class="">Simple Stuff</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/base-elements/typography/" class="">Typography</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/base-elements/buttons/" class="">Buttons</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/base-elements/fields/" class="">Fields</a>
                </li>

                <li style="--mb: 0.2rem">
                    <a href="/docs/base-elements/variables/" class="">Variables</a>
                </li>
            </ul>
        </li>

        <li class="book-section-flat">
            <a href="/docs/utilities/" class="">Utilities</a>

            <ul style="--list: none; --p: 0; --m: 0"></ul>
        </li>
    </ul>
</nav>