{% extends "layout.njk" %}

  {% block article %}<h2 id="position-helpers">Position Helpers</h2>
<h4 id="collection-of-helpers-to-help-position-elements">Collection of helpers to help position elements</h4>
<br>
<h4 id="--inset">--inset</h4>
<p>The <code>--inset</code> helper anchors absolutely positioned elements relative to all edges of the nearest positioned parent. The value of this helper collectively sets the distance of the <code>top</code>, <code>left</code>, <code>right</code> and <code>bottom</code> CSS properties. For responsive control this helper can be used in partnership with the <code>top</code>, <code>left</code>, <code>right</code> and <code>bottom</code> ultilies.</p>
<div style="--d:flex; --mb:4rem;">
    <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
        <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;"><figure style="--maxw:300px; --br:5px; --of:hidden; --pos:relative">
<img src="https://source.unsplash.com/random/300x300" alt="sample">
<figcaption id="target-inset" style="--inset:10px; --pos:absolute; --bg:rgba(0,0,0,.8); --c:white; --br:5px; ">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
</figcaption>
</figure></div>
            <div>
                <input class="slider" type="range" id="inset" name="inset" min="0" max="78" value="10">
            </div>
            <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;"><pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"--pos:relative;"</span></span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="inset-label">--inset:3;</span> --pos:absolute;"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
            </div>
        </div>
    </div>  
</div>
<script>liveprop('inset', '--inset', 'px', 'target-inset');</script>
<h4 id="--inset-top">--inset-top</h4>
<p>The <code>--inset-top</code> helper anchors absolutely positioned elements relative to top, left and right edges of the nearest positioned parent. The value of this helper collectively sets the distance of the <code>top</code>, <code>left</code> and <code>right</code> CSS properties. For responsive control this helper can be used in partnership with the <code>top</code>, <code>left</code>, <code>right</code> and <code>bottom</code> ultilies.</p>
<div style="--d:flex; --mb:4rem;">
    <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
        <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;"><figure style="--maxw:300px; --br:5px; --of:hidden; --pos:relative">
<img src="https://source.unsplash.com/random/300x300" alt="sample">
<figcaption id="target-inset-top" style="--inset-top:10px; --pos:absolute; --bg:rgba(0,0,0,.8); --c:white; --br:5px; ">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
</figcaption>
</figure></div>
            <div>
                <input class="slider" type="range" id="inset-top" name="inset-top" min="0" max="78" value="10">
            </div>
            <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;"><pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"--pos:relative;"</span></span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="inset-top-label">--inset-top:3;</span> --pos:absolute;"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
            </div>
        </div>
    </div>  
</div>
<script>liveprop('inset-top', '--inset-top', 'px', 'target-inset-top');</script>
<h4 id="--inset-bottom">--inset-bottom</h4>
<p>The <code>--inset-bottom</code> helper anchors absolutely positioned elements relative to bottom, left and right edges of the nearest positioned parent. The value of this helper collectively sets the distance of the <code>bottom</code>, <code>left</code> and <code>right</code> CSS properties. For responsive control this helper can be used in partnership with the <code>top</code>, <code>left</code>, <code>right</code> and <code>bottom</code> ultilies.</p>
<div style="--d:flex; --mb:4rem;">
    <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
        <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;"><figure style="--maxw:300px; --br:5px; --of:hidden; --pos:relative">
<img src="https://source.unsplash.com/random/300x300" alt="sample">
<figcaption id="target-inset-bottom" style="--inset-bottom:10px; --pos:absolute; --bg:rgba(0,0,0,.8); --c:white; --br:5px; ">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
</figcaption>
</figure></div>
            <div>
                <input class="slider" type="range" id="inset-bottom" name="inset-bottom" min="0" max="78" value="10">
            </div>
            <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;"><pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"--pos:relative;"</span></span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="inset-bottom-label">--inset-bottom:3;</span> --pos:absolute;"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
            </div>
        </div>
    </div>  
</div>
<script>liveprop('inset-bottom', '--inset-bottom', 'px', 'target-inset-bottom');</script>
<h4 id="--inset-top-left">--inset-top-left</h4>
<p>The <code>--inset-top-left</code> helper anchors absolutely positioned elements relative to top and left edges of the nearest positioned parent. The value of this helper collectively sets the distance of the <code>top</code> and <code>left</code> CSS properties. For responsive control this helper can be used in partnership with the <code>top</code>, <code>left</code>, <code>right</code> and <code>bottom</code> ultilies.</p>
<div style="--d:flex; --mb:4rem;">
    <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
        <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;"><figure style="--maxw:300px; --br:5px; --of:hidden; --pos:relative">
<img src="https://source.unsplash.com/random/300x300" alt="sample">
<figcaption id="target-inset-top-left" style="--inset-top-left:10px; --pos:absolute; --bg:rgba(0,0,0,.8); --c:white; --br:5px; ">
    Hello World!
</figcaption>
</figure></div>
            <div>
                <input class="slider" type="range" id="inset-top-left" name="inset-top-left" min="0" max="78" value="10">
            </div>
            <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;"><pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"--pos:relative;"</span></span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="inset-top-left-label">--inset-top-left:3;</span> --pos:absolute;"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
            </div>
        </div>
    </div>  
</div>
<script>liveprop('inset-top-left', '--inset-top-left', 'px', 'target-inset-top-left');</script>
<h4 id="--inset-top-right">--inset-top-right</h4>
<p>The <code>--inset-top-right</code> helper anchors absolutely positioned elements relative to top and right edges of the nearest positioned parent. The value of this helper collectively sets the distance of the <code>top</code> and <code>right</code> CSS properties. For responsive control this helper can be used in partnership with the <code>top</code>, <code>left</code>, <code>right</code> and <code>bottom</code> ultilies.</p>
<div style="--d:flex; --mb:4rem;">
    <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
        <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;"><figure style="--maxw:300px; --br:5px; --of:hidden; --pos:relative">
<img src="https://source.unsplash.com/random/300x300" alt="sample">
<figcaption id="target-inset-top-right" style="--inset-top-right:10px; --pos:absolute; --bg:rgba(0,0,0,.8); --c:white; --br:5px; ">
    Hello World!
</figcaption>
</figure></div>
            <div>
                <input class="slider" type="range" id="inset-top-right" name="inset-top-right" min="0" max="78" value="10">
            </div>
            <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;"><pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"--pos:relative;"</span></span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="inset-top-right-label">--inset-top-right:3;</span> --pos:absolute;"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
            </div>
        </div>
    </div>  
</div>
<script>liveprop('inset-top-right', '--inset-top-right', 'px', 'target-inset-top-right');</script>
<h4 id="--inset-bottom-left">--inset-bottom-left</h4>
<p>The <code>--inset-bottom-left</code> helper anchors absolutely positioned elements relative to bottom and left edges of the nearest positioned parent. The value of this helper collectively sets the distance of the <code>bottom</code> and <code>left</code> CSS properties. For responsive control this helper can be used in partnership with the <code>top</code>, <code>left</code>, <code>right</code> and <code>bottom</code> ultilies.</p>
<div style="--d:flex; --mb:4rem;">
    <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
        <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;"><figure style="--maxw:300px; --br:5px; --of:hidden; --pos:relative">
<img src="https://source.unsplash.com/random/300x300" alt="sample">
<figcaption id="target-inset-bottom-left" style="--inset-bottom-left:10px; --pos:absolute; --bg:rgba(0,0,0,.8); --c:white; --br:5px; ">
    Hello World!
</figcaption>
</figure></div>
            <div>
                <input class="slider" type="range" id="inset-bottom-left" name="inset-bottom-left" min="0" max="78" value="10">
            </div>
            <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;"><pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"--pos:relative;"</span></span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="inset-bottom-left-label">--inset-bottom-left:3;</span> --pos:absolute;"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
            </div>
        </div>
    </div>  
</div>
<script>liveprop('inset-bottom-left', '--inset-bottom-left', 'px', 'target-inset-bottom-left');</script>
<h4 id="--inset-bottom-right">--inset-bottom-right</h4>
<p>The <code>--inset-bottom-right</code> helper anchors absolutely positioned elements relative to bottom and right edges of the nearest positioned parent. The value of this helper collectively sets the distance of the <code>bottom</code> and <code>right</code> CSS properties. For responsive control this helper can be used in partnership with the <code>top</code>, <code>left</code>, <code>right</code> and <code>bottom</code> ultilies.</p>
<div style="--d:flex; --mb:4rem;">
    <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
        <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;"><figure style="--maxw:300px; --br:5px; --of:hidden; --pos:relative">
<img src="https://source.unsplash.com/random/300x300" alt="sample">
<figcaption id="target-inset-bottom-right" style="--inset-bottom-right:10px; --pos:absolute; --bg:rgba(0,0,0,.8); --c:white; --br:5px; ">
    Hello World!
</figcaption>
</figure></div>
            <div>
                <input class="slider" type="range" id="inset-bottom-right" name="inset-bottom-right" min="0" max="78" value="10">
            </div>
            <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;"><pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"--pos:relative;"</span></span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="inset-bottom-right-label">--inset-bottom-right:3;</span> --pos:absolute;"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
            </div>
        </div>
    </div>  
</div>
<script>liveprop('inset-bottom-right', '--inset-bottom-right', 'px', 'target-inset-bottom-right');</script>
{% endblock %}