{% extends "layout.njk" %}

{% block article %}
  <h2 id="buttons">Buttons</h2>
  <h4 id="base-styling-for-button-elements-including-button-groups-and-variations">Base styling for button elements including button groups and variations</h4>
  <h3 id="buttons-1">Buttons</h3>
  <div class="code-block" style="--c: var(--code);--bg:#f5f5f5; --radius: 4px; --p:1rem; --mb:3rem; --border-1:var(--br-grey);--fw:bold; --shadow-soft: 4; ">
    <p>
      <button>Button</button>
      <button aria-label="add">
        <svg aria-hidden="true" role="img" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
        </svg>
Button
</button>
      <button disabled="">Button Disabled</button>
    </p>
    {% highlight "html" %}
<button>Button</button>
<button aria-label="add">
  <svg aria-hidden="true" role="img" xmlns="https://www.w3.org/2000/svg" viewBox="0 0 448 512">
  <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path></svg>
  Button
</button>
<button disabled="">Button Disabled</button>
    {% endhighlight %}
  </div>

  <h3 id="button-color-variations">Button Color Variations</h3>
  <div class="code-block" style="--c: var(--code);--bg:#f5f5f5; --radius: 4px; --p:1rem; --mb:3rem; --border-1:var(--br-grey);--fw:bold; --shadow-soft: 4; ">
    <button class="green">Green</button>
    <button class="orange">Orange</button>
    <button class="red">Red</button>
    <button class="white">White</button>
    <button class="grey">Grey</button>
    <button class="black">Black</button>
    {% highlight "html" %}
<button class="green">Green</button>
<button class="orange">Orange</button>
<button class="red">Red</button>
<button class="white">White</button>
<button class="grey">Grey</button>
<button class="black">Black</button>
    {% endhighlight %}
  </div>

  <h3 id="button-groups-horizontal">Button Groups (Horizontal)</h3>
  <div class="code-block" style="--c: var(--code);--bg:#f5f5f5; --radius: 4px; --p:1rem; --mb:3rem; --border-1:var(--br-grey);--fw:bold; --shadow-soft: 4; ">
    <div class="group">
      <button>Button</button>
      <button>Button</button>
      <button>Button</button>
    </div>
    {% highlight "html" %}
<div class="group">
  <button>Button</button>
  <button>Button</button>
  <button>Button</button>
</div>
    {% endhighlight %}
  </div>

  <div class="code-block" style="--c: var(--code);--bg:#f5f5f5; --radius: 4px; --p:1rem; --mb:3rem; --border-1:var(--br-grey);--fw:bold; --shadow-soft: 4; ">
    <div class="group">
      <input type="text" placeholder="John" aria-label="Name">
      <button>Button</button>
      <button>Button</button>
    </div>
    {% highlight "html" %}
<div class="group">
  <input type="text" placeholder="John" aria-label="Name">
  <button>Button</button>
  <button>Button</button>
</div>
    {% endhighlight %}
  </div>

  <div class="code-block" style="--c: var(--code);--bg:#f5f5f5; --radius: 4px; --p:1rem; --mb:3rem; --border-1:var(--br-grey);--fw:bold; --shadow-soft: 4; ">
    <div class="group">
      <button aria-label="upload">
        <svg viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
          <path d="M13 7H7V5H13V7Z" fill="currentColor"/>
          <path d="M13 11H7V9H13V11Z" fill="currentColor"/>
          <path d="M7 15H13V13H7V15Z" fill="currentColor"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3 19V1H17V5H21V23H7V19H3ZM15 17V3H5V17H15ZM17 7V19H9V21H19V7H17Z" fill="currentColor"/>
        </svg>
      </button>
      <input type="text" placeholder="filename.txt" aria-label="Filename">
    </div>
    {% highlight "html" %}
<div class="group">
  <button aria-label="upload">
    <svg viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
      <path d="M13 7H7V5H13V7Z" fill="currentColor" />
      <path d="M13 11H7V9H13V11Z" fill="currentColor" />
      <path d="M7 15H13V13H7V15Z" fill="currentColor" />
      <path fill-rule="evenodd" clip-rule="evenodd" d="M3 19V1H17V5H21V23H7V19H3ZM15 17V3H5V17H15ZM17 7V19H9V21H19V7H17Z" fill="currentColor" />
    </svg>
  </button>
  <input type="text" placeholder="filename.txt" aria-label="Filename">
</div>
    {% endhighlight %}
  </div>

  <h3 id="button-groups-vertical">Button Groups (Vertical)</h3>
  <div class="code-block" style="--c: var(--code);--bg:#f5f5f5; --radius: 4px; --p:1rem; --mb:3rem; --border-1:var(--br-grey);--fw:bold; --shadow-soft: 4; ">
    <div class="group vertical">
      <button>Button</button>
      <button>Button</button>
      <button>Button</button>
      <button>Button</button>
    </div>
    {% highlight "html" %}
<div class="group vertical">
  <button>Button</button>
  <button>Button</button>
  <button>Button</button>
  <button>Button</button>
</div>
    {% endhighlight %}
  </div>

  <div class="code-block" style="--c: var(--code);--bg:#f5f5f5; --radius: 4px; --p:1rem; --mb:3rem; --border-1:var(--br-grey);--fw:bold; --shadow-soft: 4; ">
    <div class="group vertical">
      <button class="white">Button</button>
      <button class="grey">Button</button>
      <button class="green">Button</button>
    </div>
    <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem;">
      <pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;group vertical&#34;</span><span class="p"></span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;white&#34;</span><span class="p"></span><span class="p">&gt;</span>Button<span class="p">&lt;</span><span class="p">/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;grey&#34;</span><span class="p"></span><span class="p">&gt;</span>Button<span class="p">&lt;</span><span class="p">/</span><span class="nt">button</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;green&#34;</span><span class="p"></span><span class="p">&gt;</span>Button<span class="p">&lt;</span><span class="p">/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
    </div>
  </div>

  <div class="code-block" style="--c: var(--code);--bg:#f5f5f5; --radius: 4px; --p:1rem; --mb:3rem; --border-1:var(--br-grey);--fw:bold; --shadow-soft: 4; ">
    <div class="group vertical">
      <input type="text" placeholder="Name" aria-label="Name">
      <button>Button</button>
    </div>
    <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem;">
      <pre class="chroma"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#34;group vertical&#34;</span><span class="p"></span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#34;text&#34;</span> <span class="na">placeholder</span><span class="o">=</span><span class="s">&#34;Name&#34;</span> <span class="na">aria-label</span><span class="o">=</span><span class="s">&#34;Name&#34;</span><span class="p"></span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">button</span><span class="p"></span><span class="p">&gt;</span>Button<span class="p">&lt;</span><span class="p">/</span><span class="nt">button</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
    </div>
  </div>
{% endblock %}