{% extends "layout.njk" %}

{% block article %}
<h2 id="installing-startr-style">Installing Startr Style</h2>
<p>Startr Style can be added to your project by downloading from the <a href="https://github.com/Startr/Style">Github
    repo</a>. Extract and include the ./dist/style.min.css into your project, linking in your document head.</p>

{% highlight "html" %}
<link href="path/to/css/style.min.css" rel="stylesheet">
{% endhighlight %}

<h3 id="install-via-npm">Install via NPM</h3>
<p>Possibly the quickest and easiest way to include Startr/Style in to your project is through NPM or yarn.</p>

{% highlight "text" %}
npm install Startr/Style
{% endhighlight %}

<h3 id="install-via-yarn">Install via Yarn</h3>

{% highlight "text" %}
yarn add Startr/Style
{% endhighlight %}

<h3 id="import-css-in-react">Import CSS in React</h3>

{% highlight "javascript" %}
import 'Startr/Style/dist/style.min.css';
{% endhighlight %}

<h3 id="import-css-in-vuejs">Import CSS in Vue.js</h3>

{% highlight "html" %}
<style src='Startr/Style/dist/style.min.css' />
{% endhighlight %}

<h3 id="install-via-cdn">Install via CDN</h3>
<p>To grab from CDN you can use the following.</p>

{% highlight "html" %}
<link href="https://unpkg.com/Startr/Style@latest/dist/style.min.css" rel="stylesheet">
{% endhighlight %}

<h3 id="modular-installation">Modular Installation</h3>
<p>Startr Style can be broken down in to 3 distinct components. In cases where you may not need all three components,
  each of these components can be included seperately.</p>

<h4 id="base-element-styling">Base Element Styling</h4>

{% highlight "html" %}
<!-- Link locally -->
<link href="path/to/css/style-base.min.css" rel="stylesheet">

<!-- Via CDN -->
<link href="https://unpkg.com/Startr/Style@latest/dist/style-base.min.css" rel="stylesheet">
{% endhighlight %}

<h4 id="helpers">Helpers</h4>

{% highlight "html" %}
<!-- Link locally -->
<link href="path/to/css/style-helpers.min.css" rel="stylesheet">

<!-- Via CDN -->
<link href="https://unpkg.com/Startr/Style@latest/dist/style-helpers.min.css" rel="stylesheet">
{% endhighlight %}

<h4 id="utilities">Utilities</h4>

{% highlight "html" %}
<!-- Link locally -->
<link href="path/to/css/style-utilities.min.css" rel="stylesheet">

<!-- Via CDN -->
<link href="https://unpkg.com/Startr/Style@latest/dist/style-utilities.min.css" rel="stylesheet">
{% endhighlight %}

{% endblock %}