<code class="language-html" data-lang="html" style="--p: 1.5rem 2rem; --minh: 240px; --ta:left">
<span class="p">&lt;</span><span class="nt">figure</span> <span class="na">style</span><span class="o">=</span><span class="s"
    >"
  <span id="levitate-label">--levitate:16;</span> 
  <span id="padding-label">--p:0px;</span>
  <span id="br-label">--br:5px;</span>"</span><span class="p"></span><span class="p">&gt;</span> 
  
<span class="p">&lt;</span><span class="nt">img</span> <span class="na">src</span><span class="o">=</span><span class="s">"example.jpeg"</span> <span class="na">alt</span
  ><span class="o">=</span><span class="s">"sample"</span> <span class="na">style</span><span class="o">=</span
  ><span class="s">"--m:2rem auto 0; --br:50%"</span><span class="p"></span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">figcaption</span> <span class="na">style</span><span class="o">=</span
  ><span class="s">"--ta:center"</span><span class="p"></span><span class="p">&gt;</span> <span class="p">&lt;</span
  ><span class="nt">h4</span><span class="p"></span><span class="p">&gt;</span>Plante<span class="p">&lt;</span
  ><span class="p">/</span><span class="nt">h4</span><span class="p">&gt;</span> <span class="p">&lt;</span
  ><span class="nt">p</span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span
  ><span class="p">/</span><span class="nt">p</span><span class="p">&gt;</span> <span class="p">&lt;</span
  ><span class="p">/</span><span class="nt">figcaption</span><span class="p">&gt;</span> <span class="p">&lt;</span
  ><span class="p">/</span><span class="nt">figure</span><span class="p">&gt;</span></code
>