---
permalink: /demo/swap/b.html
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Page B</title>
		<script defer src="/v1/swap.js"></script>
	</head>
	<body>
		<main data-swap>
			<h1 id="who">B</h1>
			<a id="to-a" href="/demo/swap/a.html">to A</a>
		</main>
	</body>
</html>
