{% extends "layout.njk" %}

<article class="markdown">
    {% block article %}
        <h2 id="spacing-helpers">Spacing Helpers</h2>
        <h4 id="collection-of-helpers-for-setting-spacing-of-elements">Collection of helpers for setting spacing of elements</h4>
        <br>
        <p>Not only do we have cool utility shorthand for <a>padding</a> and <a>margin</a>, but we also have our nifty spacing helpers! These make it super easy to set up different spaces all at once.
        </p>
        <h4 id="--px">--px</h4>
        <p>The <code>--px</code> helper anchors adds equal padding on both sides of the horizontal axis of an element. The value of this helper collectively sets <code>padding-left</code> and <code>padding-right</code> CSS properties.</p>
        <div style="--d:flex; --mb:4rem;">
            <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
                <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;">
                    <figure style="--maxw:300px; --br:5px; --pos:relative; --bg:#eee">
                        <figcaption id="target-px" style="--bg:rgba(0,0,0,.8); --c:white; --br:5px; ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </figcaption>
                    </figure>
                </div>
                <div>
                    <input class="slider" type="range" id="px" name="px" min="0" max="80" value="15">
                </div>
                <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                    <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;">
                        <pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="px-label">--px:15px;</span>"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
                    </div>
                </div>
            </div>
        </div>
        <script>
            liveprop('px', '--px', 'px', 'target-px');
        </script>
        <h4 id="--py">--py</h4>
        <p>The <code>--py</code> helper anchors adds equal padding on both sides of the vertical axis of an element. The value of this helper collectively sets <code>padding-top</code> and <code>padding-bottom</code> CSS properties.</p>
        <div style="--d:flex; --mb:4rem;">
            <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
                <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;">
                    <figure style="--maxw:300px; --br:5px; --pos:relative; --bg:#eee">
                        <figcaption id="target-py" style="--bg:rgba(0,0,0,.8); --c:white; --br:5px; ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </figcaption>
                    </figure>
                </div>
                <div>
                    <input class="slider" type="range" id="py" name="py" min="0" max="80" value="15">
                </div>
                <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                    <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;">
                        <pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="py-label">--py:15px;</span>"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
                    </div>
                </div>
            </div>
        </div>
        <script>
            liveprop('py', '--py', 'px', 'target-py');
        </script>
        <h4 id="--mx">--mx</h4>
        <p>The <code>--mx</code> helper anchors adds equal margin on both sides of the horizontal axis of an element. The value of this helper collectively sets <code>margin-left</code> and <code>margin-right</code> CSS properties.</p>
        <div style="--d:flex; --mb:4rem;">
            <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
                <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;">
                    <figure style="--maxw:300px; --br:5px; --pos:relative; --bg:#ddd;">
                        <figcaption id="target-mx" style="--bg:rgba(0,0,0,.8); --c:white; --br:5px; --mx:15px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </figcaption>
                    </figure>
                </div>
                <div>
                    <input class="slider" type="range" id="mx" name="mx" min="0" max="80" value="15">
                </div>
                <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                    <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;">
                        <pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="mx-label">--mx:15px;</span>"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
                    </div>
                </div>
            </div>
        </div>
        <script>
            liveprop('mx', '--mx', 'px', 'target-mx');
        </script>
        <h4 id="--my">--my</h4>
        <p>The <code>--my</code> helper anchors adds equal margin on both sides of the vertical axis of an element. The value of this helper collectively sets <code>margin-top</code> and <code>margin-bottom</code> CSS properties.</p>
        <div style="--d:flex; --mb:4rem;">
            <div style="--p:1rem; --fx:1; --bg:#eee; --m: 2rem auto; --maxw: 600px; --br: 0.3rem; --shadow-soft: 4; ">
                <div style="--fx:1; --p:3rem; --mb:.5rem; --d:flex; --jc:center;">
                    <figure style="--maxw:300px; --br:5px; --pos:relative; --bg:#ddd;">
                        <figcaption id="target-my" style="--bg:rgba(0,0,0,.8); --c:white; --br:5px; --my:15px">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </figcaption>
                    </figure>
                </div>
                <div>
                    <input class="slider" type="range" id="my" name="my" min="0" max="80" value="15">
                </div>
                <div class="markdown" style="--maxw:800px; --w:100%; --pos:relative;">
                    <div class="highlight" style="--shadow-soft: 4; --levitate-hvr:4; --br:0.4rem; --mb:0;">
                        <pre class="chroma" style="--mt:.75rem;"><code class="language-html" data-lang="html"><span class="p">&lt;</span><span class="nt">div</span> <span class="na">style</span><span class="o">=</span><span class="s">"<span id="my-label">--my:15px;</span>"</span></span><span class="p"></span><span class="p">&gt;</span> ... <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span></code></pre>
                    </div>
                </div>
            </div>
        </div>
        <script>
            liveprop('my', '--my', 'px', 'target-my');
        </script>
    {% endblock %}